<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kadir.lovem" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Lovem</name>
    <description>Özel Sürpriz Uygulaması</description>
    <author>Kadir</author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
</widget>
